@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Overpass&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Overpass&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Overpass&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Shippori+Mincho+B1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;

    overflow-x: hidden;
}

li,
a,
button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}


.nav-item {
    margin-top: -10px;
}

.navbar-nav .nav-link {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.navbar-custom {
    background-color: #d8f7fd;
    height: 130px;
}

.navbar-nav .nav-link {
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.navbar-nav .nav-link:hover {
    transform: translateY(-3px);
}


/* Style for active link */
.navbar-nav .nav-link.active {
    font-weight: bold;
    color: #007bff;
    border-bottom: none;
}

/* Adjust padding and margin for active link's parent list item */
.navbar-nav .nav-item.active {
    padding-bottom: 0.5rem;
    margin-bottom: -2px;
}



button {
    padding: 9px 25px;
    background-color: #06B3EA;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all .3s ease 0s;
    color: white;
    margin-top: 10px;
    margin-right: 15px;
}

button:hover {
    background-color: rgb(15, 135, 241);
    color: rgb(255, 255, 255);
}

.box2{
    margin-left: 10px;
}


/* WELCOME */

.main-body {
    width: 100%;
    padding: 1rem;
    margin-left: 20px;
    margin-bottom: -20px;
}

.promo_card {
    width: 100%;
    color: #fff;
    margin-top: 10px;
    border-radius: 8px;
    padding: 0.5rem 1rem 1rem 3rem;
    background: rgb(93, 179, 255);
}
.centered-text {
    text-align: center;
    font-family: "Poppins", sans-serif;

    font-size: 25px;
    font-weight: 200;
}
.promo_card h1,
.promo_card span,
button {
    margin: 10px;
}

.promo_card button {
    display: block;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.history_lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.card {
    transition: box-shadow 0.3s ease;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .card:hover {
    box-shadow: 0 8px 15px rgba(169, 7, 7, 0.3);
  }
  

/* OFFERS */


.main {
    position: relative;
    padding: 20px;
    width: 100%;
}

.main-top {
    display: flex;
    width: 100%;
}

.main-top i {
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: rgb(110, 109, 109);
    cursor: pointer;
}

.main-skills {
    display: flex;
    margin-top: 20px;
}

.main-skills .card {
    width: 25%;
    margin: 10px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.main-skills .card h3 {
    margin: 10px;
    text-transform: capitalize;
}

.main-skills .card p {
    font-size: 12px;
}

.main-skills .card button {
    background: orangered;
    color: #fff;
    padding: 7px 15px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.main-skills .card button:hover {
    background: rgba(223, 70, 15, 0.856);
}

.main-skills .card i {
    font-size: 22px;
    padding: 10px;
}

.pending{
    cursor: pointer;
}

/* table */

@media print {
    .table, .table__body {
     overflow: visible;
     height: auto !important;
     width: 200px !important;
    }
   }
   


   .main.table {
    width: 100%;
    height: 90vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 30%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .0rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 85%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
}

.table__body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;
    vertical-align: middle;
}

table,
th,
td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

.column-id {
    width: 50px;
}

.column-customer {
    width: 50px;
}

.column-location {
    width: 10px;
}

.column-order-date {
    width: 50px;
}

.column-status {
    width: 50px;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

   .status {
       padding: .4rem 0;
       border-radius: 2rem;
       text-align: center;
   }

   .status.delivered {
       background-color: #86e49d;
       color: #006b21;
   }

   .status.cancelled {
       background-color: #d893a3;
       color: #b30021;
   }

   .status.pending {
       background-color: #ebc474;
   }

   .status.shipped {
       background-color: #6fcaea;
   }


   @media (max-width: 1000px) {
       td:not(:first-of-type) {
           min-width: 12.1rem;
       }
   }

   thead th span.icon-arrow {
       display: inline-block;
       width: 1.3rem;
       height: 1.3rem;
       border-radius: 50%;
       border: 1.4px solid transparent;

       text-align: center;
       font-size: 1rem;

       margin-left: .5rem;
       transition: .2s ease-in-out;
   }

   thead th:hover span.icon-arrow {
       border: 1.4px solid #6c00bd;
   }

   thead th:hover {
       color: #6c00bd;
   }

   thead th.active span.icon-arrow {
       background-color: #6c00bd;
       color: #fff;
   }

   thead th.asc span.icon-arrow {
       transform: rotate(180deg);
   }

   thead th.active,
   tbody td.active {
       color: #6c00bd;
   }

   .export__file {
       position: relative;
   }

   .export__file .export__file-btn {
       display: inline-block;
       width: 2rem;
       height: 2rem;
       background: #fff6 url(images/export.png) center / 80% no-repeat;
       border-radius: 50%;
       transition: .2s ease-in-out;
   }

   .export__file .export__file-btn:hover {
       background-color: #fff;
       transform: scale(1.15);
       cursor: pointer;
   }

   .export__file input {
       display: none;
   }

   .export__file .export__file-options {
       position: absolute;
       right: 0;

       width: 12rem;
       border-radius: .5rem;
       overflow: hidden;
       text-align: center;

       opacity: 0;
       transform: scale(.8);
       transform-origin: top right;

       box-shadow: 0 .2rem .5rem #0004;

       transition: .2s;
   }

   .export__file input:checked+.export__file-options {
       opacity: 1;
       transform: scale(1);
       z-index: 100;
   }

   .export__file .export__file-options label {
       display: block;
       width: 100%;
       padding: .6rem 0;
       background-color: #f2f2f2;

       display: flex;
       justify-content: space-around;
       align-items: center;

       transition: .2s ease-in-out;
   }

   .export__file .export__file-options label:first-of-type {
       padding: 1rem 0;
       background-color: #86e49d !important;
   }

   .export__file .export__file-options label:hover {
       transform: scale(1.05);
       background-color: #fff;
       cursor: pointer;
   }

   .export__file .export__file-options img {
       width: 2rem;
       height: auto;
   }

   .pending-tutor-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust as needed */
    }
    .pending-table {
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 5px;
        flex: 1 1 calc(25% - 20px); /* 4 profiles per row */
        max-width: calc(25% - 20px); /* 4 profiles per row */
        box-sizing: border-box;
        margin-bottom: 20px;
        background-color: #f9f9f9;
    }
    .pending-table div {
        margin-bottom: 5px;
    }
    .pending-table .actions {
        margin-top: -10px;
        display: flex;
        justify-content: space-between;
    }
    .pending-table .actions form {
        display: inline;
    }

/* ////FOOTER */

footer {
    font-family: "Poppins", sans-serif;
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #d8f7fd;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px "Poppins", sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #000000;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #000000;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #000000;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #ffffff;
    color: #000000;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #000000;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    /* font-weight: normal; */
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #000b89;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #000204;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    /* background-color: #ffffff; */
    border-radius: 2px;
    font-size: 20px;
    /* color: #000000; */
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #ffffff;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       
     